Package: com.caetan0.colorpass
Name: ColorPass
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, org.thebigboss.libcolorpicker
Architecture: iphoneos-arm
Description: Change the color of your passcode keys!
Maintainer: Caetano Melone <caetanomelone@gmail.com>
Author: Caetano Melone <caetanomelone@gmail.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/colorpass.bundle/colorpass@3x.png
Version: 1.2
Depiction: http://10.0.1.28/depictions/co.melone.colorpass.php
